@model TaskControl.Models.TaskModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.TaskName</h1>

<div>
    <h4>Подробности</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название задачи
        </dt>
        <dd class = "col-sm-10">
            @Model.TaskName
        </dd>
        <dt class = "col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class = "col-sm-2">
            Исполнители
        </dt>
        <dd class = "col-sm-10">
            @Model.TaskExecutors
        </dd>
        <dt class = "col-sm-2">
            Создано
        </dt>
        <dd class = "col-sm-10">
            @Model.RegistrationDate
        </dd>
        <dt class = "col-sm-2">
            Статус
        </dt>
        <dd class = "col-sm-10">
            @Model.taskStatus
        </dd>
        <dt class = "col-sm-2">
            Выполнено:
        </dt>
        <dd class = "col-sm-10">
            @Model.EndDate
        </dd>
        <dt class = "col-sm-2">
            РодительИД
        </dt>
        <dd class = "col-sm-10">
            @Model.ParentID
        </dd>
    </dl>
</div>
<div>
    <form asp-action="StartTask">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Начать выполнение" class="btn btn-primary" /> |
    </form>
    <form asp-action="PauseTask">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Приостановить" class="btn btn-primary" /> |
    </form>
    <form asp-action="EndTask">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Завершить" class="btn btn-primary" /> |
    </form>

    <a asp-action="Index">Вернуться</a>
</div>
