@model TaskControl.Models.TaskViewModel
@using TaskControl.Models
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Имя
            </th>
            <th>
                Описание
            </th>
            <th>
                Исполнители
            </th>
            <th>
                Создана
            </th>
            <th>
                Статус
            </th>
            <th>
                Предполагаемая дата окончания
            </th>
            <th>
                IDРодителя
            </th>
            <th>
                Ожидаемое время исполнения
            </th>
            <th>
                Фактическое время исполнения
            </th>
            <th>
                Действия
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Tasks)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskExecutors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taskStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentID)
            </td>
            <td>
                @{
                    TimeSpan estimatedCompletionTime = item.EstimatedEndDate - item.RegistrationDate;
                    var timeToDisplay = estimatedCompletionTime.ToString(@"hh\:mm\:ss");
                    @timeToDisplay

                }
            </td>
            <td>
                @if (item.taskStatus == TaskControl.Models.TaskStatus.Complete)
                {
                    TimeSpan completionTime = item.EndDate - item.RegistrationDate;
                    @completionTime.ToString(@"hh\:mm\:ss")
                }
            </td>
            <td>
                @foreach (var link in TaskControl.Models.TaskModelUtils.navLinks[item.taskStatus])
                {
                    @Html.ActionLink(link.LinkText, link.ActionName, new { id = item.ID })
                    <a> </a>
                };
            </td> 
        </tr>
        }
    </tbody>

        
    
</table>
